body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0px;
  overflow: hidden;
}

.gridContainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 70px 1fr 120px;
  gap: 0.5rem;
  grid-template-areas: 
      'header header'
      'sidebar main'
      'sidebar chat';
}

#header {
  grid-area: header;
  background-color: lightgray;
  text-decoration: none;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    'logo';
  align-content: center;
}

#sidebar {
  grid-area: sidebar;
  align-items: center;
  padding: 0.8em;
  background-color: lightskyblue;
}

main {
  grid-area: main;
  overflow: hidden;
  overflow-y: scroll;
  max-width: 500px;
}

#main {
  padding: 0.8em;
}

#chatContainer {
  grid-area: chat;
  border-top: 1px solid lightgray;
  padding: 0.8em;
  align-self: center;
}

#logoWrapper {
  grid-area: logo;
  height: 50px;
  margin-left: 15px;
}

#headerLogo {
  height: 100%;
}

#signout {
  font-size: 0.8em;
  text-decoration: none;
}

#channelAddWrapper {
  height: 100px;
}

#channelFormText {
  margin-bottom: 5px;
  border-radius: 0.3em;
}

#channelMessage {
  font-size: 0.8em;
  color: red;
  font-weight: bold;
}

#sidebarUserWrapper {
  height: 60px;
  border-bottom: 1px solid white;
}

#channelAddWrapper {
  height: 120px;
  border-bottom: 1px solid white;
}

#chatTextArea {
  border-radius: 0.5em;
  border-color: rgb(187, 187, 187);
  background-color: rgb(224, 246, 255);
}

.myMessage {
  background-color: mediumaquamarine;
  width: 400px;
  border-radius: 1em;
  padding: 0.1em 1em 0.5em 1em;
  margin-top: 0.2em;
}

.otherMessage {
  background-color: pink;
  width: 400px;
  margin-left: 200px;
  border-radius: 1em;
  padding: 0.1em 1em 0.5em 1em;
  margin-top: 0.2em;
}

.myMessageTime {
  font-size: 0.6em;
  width: 400px;
  padding: 0.5em 1em 0 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.otherMessageTime {
  font-size: 0.6em;
  width: 400px;
  margin-left: 200px;
  padding: 0.5em 1em 0 1em;
  margin-top: 0;
  margin-bottom: 0;
}