<!DOCTYPE html>
<html lang='en'>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- BOOTSTRAP CSS 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            -->
    
        <!-- MY CSS -->
        <link rel="stylesheet" href="../static/css/style.css">

        <!-- AJAX JS LIB -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
            
        <!-- MY JAVASCRIPT -->
        <script src="../static/js/smack.js"></script>

        <title>
            Smack: {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <div class="container">
            <nav>
                <div id="nav-logo-wrapper">
                    <a href="#">
                        <img id="nav-logo" src="../static/images/smack_logo.png" alt="logo">
                    </a>
                </div>
                <div id="nav-left-side">
                    <!--
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    -->
                </div>
                <div id="nav-right-side">
                    <a id='signout' href='/'>Sign out</a>
                </div>
            </nav>
            <aside id="aside">
                <div id="aside-menu-items">
                    <div id="aside-user-section">
                        <p><span id="username"></span></p>
                    </div>
                    <div id="ChannelWrapper">
                        <div id="channelAddWrapper">
                            <p>Add channel:</p>
                            <form id="channelForm">
                                <input id="channelFormText" type="text" placeholder="channel name" autocomplete="off" autofocus>
                                <input id="channelFormButton" type="submit" value="Add">
                            </form>
                            <p><span id="channelMessage"></span></p>
                        </div>
                        <div id="aside-channel-list-wrapper">
                            <p>Channels:</p>
                            <select id='channels'></select>
                        </div>
                    </div>
                </div>
            </aside>
            <main>
                <div id="mainWrapper">
                    <div id="main">

                    </div>
                    <div id="chatTypeWrapper">
                        <form id="chatbox">
                            <textarea id="chatTextArea" form="#chatbox"></textarea>
                            <input id="chatButton" type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>